<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="websiteSection.js"></script>
  </head>
  <body>
    <header class="header">
      <h4><a href="#">Project</a></h4>
      <button class="menu-btn"></button>
      <nav class="navigation">
        <ul>
          <li><a href="#">Projects</a></li>
          <li><a href="#learn-more ">About us</a></li>
          <li><a href="#main">Stories</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main class="main" id="main">
      <website-section class="hero container">
        <div slot="logo">
          <img class="logo" src="./assets/logo.svg" alt="logo" />
        </div>
        <h2 slot="title">Your Headline Here</h2>
        <p slot="subheading" class="subheading">
          Lorem ipsum dolor sit amet, consectetur <br />
          adipiscing elit sed do eiusmod.
        </p>
      </website-section>

      <website-section class="article container">
        <h2 slot="title">
          This is the Section Headline, Continues to Two Lines
        </h2>

        <p slot="subheading" class="subheading">
          Lorem ipsum dolor sit amet consectetur <br />
          adipisicing elit. Officia, voluptas.
        </p>
        <article slot="content">
          <div class="wrapper">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
              ut perspiciatis unde omnis.
            </p>
            <p>
              Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <button class="btn">Read more</button>
        </article>
      </website-section>

      <website-section class="container community">
        <h2 slot="title">Big Community of People Like You</h2>
        <p slot="subheading" class="subheading">
          We’re proud of our products, and we’re really excited <br />
          when we get feedback from our users.
        </p>
        <div slot="content">
          <div class="wrapper" id="wrapper"></div>
        </div>
      </website-section>

      <website-section class="learn-more container">
        <h2 slot="title">Learn more about our culture...</h2>

        <div slot="content">
          <div class="play-button">
            <!-- changed img element to svg element to be able change fill color-->
            <svg
              class="ellips"
              width="145"
              height="144"
              viewBox="0 0 145 144"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <ellipse
                cx="72.5"
                cy="71.7342"
                rx="72.5"
                ry="71.7342"
                fill="#39C2D7"
              />
            </svg>
            <svg
              class="polygon"
              width="49"
              height="44"
              viewBox="0 0 49 44"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M47.2681 20.4314C48.8428 21.1382 48.8428 23.3739 47.2681 24.0807L3.4023 43.7694C2.079 44.3634 0.583334 43.3953 0.583334 41.9448L0.583336 2.56727C0.583336 1.11679 2.07901 0.148682 3.40231 0.742633L47.2681 20.4314Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
        <p slot="subheadingDown" class="subheading">
          Duis aute irure dolor in <br />
          reprehenderit in voluptate velit esse <br />
          cillum dolore eu fugiat nulla pariatur.
        </p>
      </website-section>

      <div id="new-section"></div>
    </main>

    <!-- footer section -->
    <footer class="footer" id="footer">
      <div class="footer-logo">
        <img src="./assets/small-logo.webp" alt="logo" />
        <p>Project</p>
      </div>
      <address>
        123 Street,<br />
        Anytown, USA 12345 <br />
        <br />
        <a href="mailto: hello@website.com">hello@website.com</a>
      </address>
      <p>&copy; 2021 Project. All rights reserved</p>
    </footer>
  </body>
</html>
